@import "variables";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $lato;
    text-decoration: none;
    list-style-type: none;
    color: $white;
    overflow-x: hidden;
}

body {
    background-color: darkgray;
}

.inner--default {
    max-width: 90rem;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100vw;
    padding: 2rem 0;
    background-color: $darkGrey;
    .header__container {
        @extend .inner--default;
        display: flex;
        justify-content: space-between;
    }
    h4 {
        color: pink;
    }
    ul {
        display: flex;
        li {
            cursor: pointer;
            margin-left: 1rem;
            border-bottom: 0.063rem solid transparent;
            padding-bottom: 0.5rem;
            
        }

        &:hover {
            border-bottom: 0.063rem solid;
            border-image-source: linear-gradient(to right, $pink, $blue);
            border-image-slice: 1;

        }
    }
}

.hero {
    background-color: url();
    width: 100vw;
    height: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header__container {
        @extend .inner--default;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 10rem;
        border: 0.063rem solid $white;
        h1 {
            color: $blue;
            margin-bottom: 3rem;
        }
        p {
            margin-bottom: 3rem;
        }
        // button {
        //     @include button($blue, $white)
        // }
    }
}