*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: white;
  overflow-x: hidden;
  align-items: center;
  text-align: center;
}

body {
  background-color: darkgray;

}

.inner--default, .hero .header__container, header .header__container {
  max-width: 90 rem;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  background-color: #20211e;
}
header .header__container {
  display: flex;
  justify-content: space-between;
}
header h4 {
    font-size: 25px;
    width: 100px;
    display: flex;
    margin-left: 25px;
    margin-top: 30px;
    justify-content: left;
  color: pink;
}
header ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
  margin-top: 0vw;





}
header ul li {
  cursor: pointer;
  height: 5vh;
  justify-content: flex-end;
  display: flex;
  margin-right: 15px;
  margin-top: 15px;
  border-bottom: 0.063rem solid transparent;
  padding-bottom: 0.5rem;
  justify-content: center;

}
header ul:hover {
  border-bottom: 0.063rem solid;
  border-image-source: linear-gradient(to right, #ff53a5, #00bfcc);
  border-image-slice: 1;
}

.hero {
  background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;


}
.hero .header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;

  border: 0.063rem solid white;
}
.hero .header__container h1 {

  color: #00bfcc;
  margin-bottom: 3rem;
}
.hero .header__container p {
  margin-bottom: 3rem;
}/*# sourceMappingURL=main.css.map */

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}